:root {
  --bs-primary-rgb: 37, 6, 82;
  --bs-primary-dark-rgb: 13, 38, 72;

  /* --bs-primary-rgb: 30, 63, 106; */
  /* --bs-primary-dark-rgb: 13, 38, 72; */
}

.btn {
  --bs-btn-font-weight: 500;
}

.btn-primary {
  --bs-btn-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-hover-bg: rgb(var(--bs-primary-dark-rgb));
  --bs-btn-hover-border-color: rgb(var(--bs-primary-dark-rgb));
  --bs-btn-active-bg: rgb(var(--bs-primary-dark-rgb));
}

.btn-outline-primary {
  --bs-btn-color: rgb(var(--bs-primary-rgb));
  --bs-btn-border-color: rgb(var(--bs-primary-rgb));
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-hover-border-color: rgb(var(--bs-primary-rgb));
  --bs-btn-active-bg: rgb(var(--bs-primary-dark-rgb));
  --bs-btn-active-border-color: rgb(var(--bs-primary-dark-rgb));
  --bs-btn-disabled-color: rgb(var(--bs-primary-rgb), 0.5);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(var(--bs-primary-rgb), 0.5);
  --bs-gradient: none;
}

/** Bootstrap Theme */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-weight: 500;
}

a:active, a:hover {
  text-decoration: underline;
}

.shadow-hover:hover,.shadow-hover:active,.shadow-hover:focus {
  box-shadow: var(--bs-box-shadow) !important;
}

.bg-primary-dark {
  background-color: rgb(var(--bs-primary-dark-rgb)); 
}

/*details {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  padding: 0.5em 0.5em 0;
  opacity: 0.5;
}*/

.cursor-pointer {
  cursor: pointer;
}

.form-label {
  font-weight: 500;
  margin-bottom: 0;
}

.video-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensures the video stays behind the content */
  position: relative;
  background-color: rgb(13, 38, 72);
}


.background-video {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 0.5;
  transform: translateX(25%);
  z-index: -1; /* Keeps the video behind the content */
  background-size: cover; /* Ensures the video covers the background */
  overflow: hidden;
  pointer-events: none;
}


* {
  transition: all 0.1s;
}

.border-transparent {
  border-color: transparent !important;
}

.form-control:focus {
  box-shadow: none;
}

/* textarea::-webkit-resizer {
  display: none;
}

textarea::-moz-resizer {
  display: none;
} */

.mw-50 {
  max-width: 50%;
}

.text-prewrap {
  white-space: pre-wrap !important;
}

p {
  margin-bottom: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

strong {
  font-weight: 500;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}


.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  margin-top: 0.5rem;
  font-weight: 500;
}

.markdown h1 {
  font-size: 1.2rem;
}

.markdown h2 {
  font-size: 1.1rem;
}

.markdown h3 {
  font-size: 1rem;
}

.markdown h4 {
  font-size: 0.9rem;
}

.markdown h5 {
  font-size: 0.8rem;
}

.markdown h6 {
  font-size: 0.7rem;
}

.markdown ul li::marker {
  content: '❊ ';
}

.list-inline.separator .list-inline-item:not(:last-child)::after {
  padding-left: 0.5rem;
  content: '|';
  opacity: 0.25;
}

.text-prewrap {
  white-space: pre-wrap !important;
}