<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>Solid.JS App</title>
    <script type="importmap">
      {
        "imports": {
          "solid-js": "https://cdn.jsdelivr.net/npm/solid-js@1.9.5/dist/solid.js",
          "solid-js/html": "https://cdn.jsdelivr.net/npm/solid-js@1.9.5/html/dist/html.js",
          "solid-js/web": "https://cdn.jsdelivr.net/npm/solid-js@1.9.5/web/dist/web.js"
        }
      }
    </script>
    <style>
      .modal[open] {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <script type="module">
      import { render } from "solid-js/web";
      import { createSignal, createEffect } from "solid-js";
      import html from "solid-js/html";
      const App = () => {
        const [open, setOpen] = createSignal(false);
        createEffect(() => document.body.style.overflow = open() ? "hidden" : "auto");
        return html`
          <div style="height: 200vh">
            <button class="btn btn-primary" onClick=${(e) => setOpen(true)}>Open Modal</button>
            <dialog class="modal border-0 show" open=${open} onClose=${(e) => setOpen(false)}>
              <form method="dialog" class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5">Modal title</h1>
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Modal body text goes here.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Continue</button>
                  </div>
              </form>
            </dialog>
          </div>
        `;
      };
      render(() => html`<${App} />`, document.getElementById("app"));
    </script>
  </body>
</html>
