name: Deploy
on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy to"
        type: environment
        required: true
  push:
    branches:
      # - main
      - 'stage'
      - '*dev'
      - '*qa'

env:
  TZ: America/New_York
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  TIER: ${{ secrets.TIER }}

jobs:
  Deploy:
    permissions:
      contents: "read"
      id-token: "write"
    runs-on: ubuntu-latest
    environment: ${{ (endsWith(github.ref, 'dev') && 'dev') || (endsWith(github.ref, 'qa') && 'qa') || (endsWith(github.ref, 'stage') && 'stage') || inputs.environment || 'dev' }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4 # Use latest version of node
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }} # ARN must not contain the words "github" or "actions" (https://github.com/aws-actions/configure-aws-credentials/issues/1093)
      - run: npm install -g aws-cdk
      - run: pip install -r infrastructure/requirements.txt
      - run: echo "${{ secrets.ENV_FILE }}" > infrastructure/.env
      - run: bash deploy.sh